@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --font-roboto: "Roboto", sans-serif;
  --primary: #B8EB00;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
}

body{
	background: #000;
	color: white;
}

.btn-custom{
	background-color: var(--primary);
	color: black;
  font-family: var(--font-roboto) !important;
  font-weight: 700;
	font-size: 20px;
	border-radius: 40px;
	padding: 10px 40px;
	transition: .5s;
}
.btn-custom:hover{
	color: #1a1a1a;
}

.text-secondary{
	color: #999999 !important;
}

.navbar-custom {
  background-color: #262626;
}
.navbar-nav .nav-link {
  color: white !important;
  font-family: var(--font-roboto) !important;
}
.navbar-nav .nav-link:hover {
  color: #ccc !important;
}
.navbar-nav .nav-link.active{
	font-weight: bold;
}
.btn-login {
  background-color: #1A1A1A;
  color: white;
  font-family: var(--font-roboto) !important;
  border-radius: 20px;
  padding: 5px 20px;
}
.btn-register {
  background-color: var(--primary);
  color: black;
  font-family: var(--font-roboto) !important;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 600;
}
.bg-black{
  background: #0F0F0F !important;
}
.search-btn {
  background-color: #0f0f0f;
  border-radius: 50%;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
}
.search-btn i {
  color: white;
  font-size: 20px;
}

.btn-login:hover,
.search-btn:hover {
	color: #ccc;
}

/*-- nav end --*/

.hero{
	background: url('../img/hero-bg.png') no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40px 0;
	text-align: center;
}
.hero img{
	width: 450px;
	margin: 130px 0;
}

.logos h5,
.poster h5{
  font-family: var(--font-roboto);
  font-weight: 500;
}

.logos .owl-carousel .item img{
	width: 120px !important;
}

.poster .owl-carousel .item img{
	width: 268px !important;
}

.poster .match-carousel .item img{
	width: 320px !important;
}

.plan-container .plan-box {
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 2rem;
  text-align: justify;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  height: 100%;
  transition: border 0.3s;
}
.plan-container .plan-box h4{
  font-size: 24px;
  font-weight: 700;
}

.plan-container .plan-box.active {
  border: 2px solid var(--primary);
}

.check-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--primary);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.check-icon.hidden {
  opacity: 0;
}

.choose-btn {
  background-color: var(--primary);
  border: none;
  color: #000;
  font-family: var(--font-roboto);
  font-size: 20px;
  padding: 18px 30px;
  border-radius: 40px;
  margin-top: 2rem;
  transition: background 0.3s;
}

.choose-btn:hover {
  background-color: #c2ea00;
}

.plan-container .plan-box .plan-price {
  font-size: 40px;
  font-weight: 700;
  margin-top: 28px;
}
.plan-container .plan-box .plan-price small{
  font-size: 18px;
  font-weight: 500;
}

.title {
  font-size: 38px;
  font-weight: 700;
}

.subtitle {
  color: #999999;
  font-size: 18px;
}

.movie-details .bg-banar{
    min-height: 85vh;
    background: url('../img/movies-details.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.movie-details .details-title{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}





/*for medium device*/
@media only screen and (max-width: 813px){
	.hero img{
		width: 400px;
		margin: 80px 0;
	}
	.bg-black{
		--bs-bg-opacity: 0;
	}
  .navbar-custom .navbar-nav{
    background: transparent !important;
  }
}


/*for mobile device*/
@media only screen and (max-width: 413px){
	.hero img{
		width: 250px;
		margin: 30px 0;
	}
	.hero p{
		width: 90% !important;
		text-align: justify;
	}
}
