@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --font-roboto: "Roboto", sans-serif;
  --primary: #B8EB00;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
}

body{
	background: #000;
	color: white;
}

.btn-custom{
	background-color: var(--primary);
	color: black;
  font-family: var(--font-roboto) !important;
  font-weight: 700;
	font-size: 20px;
	border-radius: 40px;
	padding: 10px 40px;
	transition: .5s;
}
.btn-custom:hover{
	color: #1a1a1a;
}

.text-secondary{
	color: #999999 !important;
}

.navbar-custom {
  background-color: #262626;
}
.navbar-nav .nav-link {
  color: white !important;
  font-family: var(--font-roboto) !important;
}
.navbar-nav .nav-link:hover {
  color: #ccc !important;
}
.navbar-nav .nav-link.active{
	font-weight: bold;
}
.btn-login {
  background-color: #1A1A1A;
  color: white;
  font-family: var(--font-roboto) !important;
  border-radius: 20px;
  padding: 5px 20px;
}
.btn-register {
  background-color: var(--primary);
  color: black;
  font-family: var(--font-roboto) !important;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 600;
}
.bg-black{
  background: #0F0F0F !important;
}
nav .search-btn {
    background-color: #111;
    border-radius: 50%;
    padding: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .search-btn i {
    color: white;
  font-size: 20px;
}
nav .search-btn input{
    color: #fff;
    border: none;
    outline: none;
    background: none;
}
nav .search-btn input:focus{
    color: #fff;
    background: none;
    box-shadow: none;
}

.btn-login:hover,
.search-btn:hover {
	color: #ccc;
}
.navbar-custom .navbar-nav .nav-link.active{
  color: var(--primary) !important;
}
.navbar-custom .navbar-nav .nav-link:hover{
  color: var(--primary) !important;
}

.profile-btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #0F0F0F;
    padding: 8px;
    border-radius: 30px;
}
.profile-btn img{
    width: 30px;
    height: 30px;
}
.profile-btn a{
    color: #fff;
    padding: 3px 7px;
    border-radius: 50%;
}


/* Hover submenu show */
.dropdown-submenu {
    position: relative;
}
.dropdown-menu.show{
    background-color: #1A1A1A;
    color: #fff !important;
    padding: 5px 10px;
    position: absolute;
    left: auto;
    right: 0%;
}
.dropdown-toggle::after{
    border: none;
    display: inline;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%; 
    left: auto;
    margin-right: 0.1rem;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

/* Optional: Improve submenu appearance */
.dropdown-menu > li > a {
    white-space: nowrap;
    border-radius: 5px !important;
}
.dropdown-menu .dropdown-item{
    color: #fff;
    padding: 10px 25px;
}

.dropdown-submenu .dropdown-item:hover{
    background-color: #222222;
}
.dropdown-submenu .dropdown-menu{
    background-color: #1A1A1A;
}
.profile-btn .dropdown-item{
    padding-right: 80px;
}

/*-- nav end --*/

.hero{
	background: url('../img/hero-bg.png') no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40px 0;
	text-align: center;
}
.hero img{
	width: 450px;
	margin: 130px 0;
}

.logos h5,
.poster h5{
  font-family: var(--font-roboto);
  font-weight: 500;
}

.logos .owl-carousel .item img{
	width: 120px !important;
}

.poster .owl-carousel .item img{
	width: 268px !important;
}

.poster .match-carousel .item img{
	width: 320px !important;
}

.plan-container .plan-box {
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 2rem;
  text-align: justify;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  height: 100%;
  transition: border 0.3s;
}
.plan-container .plan-box h4{
  font-size: 24px;
  font-weight: 700;
}

.plan-container .plan-box.active {
  border: 2px solid var(--primary);
}

.check-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--primary);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.check-icon.hidden {
  opacity: 0;
}

.choose-btn {
  background-color: var(--primary);
  border: none;
  color: #000;
  font-family: var(--font-roboto);
  font-size: 20px;
  padding: 18px 30px;
  border-radius: 40px;
  margin-top: 2rem;
  transition: background 0.3s;
}

.choose-btn:hover {
  background-color: #c2ea00;
}

.plan-container .plan-box .plan-price {
  font-size: 40px;
  font-weight: 700;
  margin-top: 28px;
}
.plan-container .plan-box .plan-price small{
  font-size: 18px;
  font-weight: 500;
}

.title {
  font-size: 38px;
  font-weight: 700;
}

.subtitle {
  color: #999999;
  font-size: 18px;
}
.btn-primary{
  background: var(--primary) !important;
  border: none;
  color: #000;
}
.btn-primary:hover{
  background: #c2ea00 !important;
  color: #000;
}
.btn-dark{
  background: #0F0F0F !important;
}


.movie-details .bg-banar{
    height: 85vh;
    background: url('../img/movies-details.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.movie-details .bg-banar .bg-layer{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.movie-details .details-title{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.movie-details .video-title{
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 32px;
}
.movie-details .info-card p{
  font-size: 18px;
  font-weight: 500;
}
.movie-details .owl-theme .owl-dots .owl-dot.active span{
  background: var(--primary) !important;
}

.cast-carousel .owl-dots{
  display: none;
}
.cast-carousel .owl-nav {
    position: absolute;
    top: -38%;
    right: 10px;
  }

  /* -- video part --  */
  
.full-screen-video .container-fluid{
    width: 100%;
    height: auto;
}

.video-container {
      position: relative;
      width: 100%;
      height: 88vh;
      overflow: hidden;
      background: black;
    }
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background: #3396FF;
    color: white;
    border-radius: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: none;
    z-index: 10;
}
.click-zone {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
}
.left-zone { left: 0; }
.right-zone { right: 0; }

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 15px 21px;
    display: none;
    z-index: 15;
}
.arrow-left { left: 30%; }
.arrow-right { right: 30%; }

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    z-index: 20;
}
.progress {
    flex-grow: 1;
    margin: 0 10px;
    height: 10px !important;
}
.video-container .form-range::-moz-range-thumb{
    width: 1rem;
    height: 10px;
}
.time, .total-time {
    color: white;
    font-size: 14px;
    min-width: 60px;
    text-align: center;
}
.settings-icons i {
    color: white;
    margin-left: 15px;
    cursor: pointer;
}
input[type="range"].progress {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #3396FF 0%, #ccc 0%);
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
input[type="range"].progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3396FF;
    cursor: pointer;
    margin-top: -4px;
}
.live-text{
    background: red;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.live-text .spinner-grow{
    width: 10px;
    height: 10px;
}
.live-icon{
    background: #2E2F2F;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    border-radius: 30px;
}
.related-video img {
    border-radius: 6px;
}
#vid_play_page .btn-custom {
    background: #353536;
    color: #fff;
    border: none;
    padding: 6px 25px;
    border-radius: 30px;
    font-size: 14px;
}
#vid_play_page .btn-custom:hover {
    background: #444;
    color: #fff;
}
#vid_play_page .video-title{
    font-size: 30px;
}
.section-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.section-header h4{
    font-size: 20px;
}
.section-header a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.movie-card .movie-rating{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #BFB0A2;
  padding: 2px 8px;
  border-radius: 30px;
  font-size: 12px;
}
.movice-serics .hero-section{
  width: 100%;
  height: 600px;
  background: url('../img/movie-serices.png') no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.movice-serics .hero-section .wrap a{
  padding: 13px 30px;
}
.new-popular .hero-section{
  background: url('../img/new-popular.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.event .hero-section{
  background: url('../img/event/hero-section.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.sports .hero-section{
  background: url('../img/sports/hero-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.documentaries .hero-section{
  background: url('../img/document.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .bg-layer{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}


/*for medium device*/
@media only screen and (max-width: 813px){
	.hero img{
		width: 400px;
		margin: 80px 0;
	}
	.bg-black{
		--bs-bg-opacity: 0;
	}
  .navbar-custom .navbar-nav{
    background: transparent !important;
  }
  .movie-details .bg-banar{
    height: 45vh;
  }
  .cast-carousel .owl-nav {
    position: absolute;
    top: -74%;
    right: 0px;
  }
  .info-card .section-label{
    font-size: 16px;
  }
  .btn-info-tag{
    font-size: 12px;
  }
  #details-rating .rat-box{
    flex-direction: column;
  }
  #details-rating .rat-box .w-50{
    width: 100% !important;
  }
  .movie-details .img-pro img{
    width: 40px;
    height: 40px;
  }
  .movie-details .img-text p{
    font-size: 12px !important;
  }
  .movie-details .img-text p small{
    font-size: 10px !important;
  }
  .search-btn{
      width: 90% !important;
      margin: 0 auto !important;
      border-radius: 30px !important;
      justify-content: start !important;
      padding-left: 15px;
  }
  .get-started,
  .profile-btn{
      width: 90%;
      border-radius: 30px !important;
  }
  .profile-btn{
      display: flex;
      justify-content: space-between;
  }
  #vid_play_page .video-container{
      height: 50vh !important;
  }
  #vid_play_page .related-video img{
      height: 70px;
      width: 50px;
  }
  #vid_play_page .related-video small{
      font-size: 12px;
  }
  #vid_play_page .btn-custom {
      background: #353536;
      color: #fff;
      border: none;
      font-size: 10px;
      padding: 6px 25px;
      border-radius: 30px;
  }
  #vid_play_page .video-title{
      font-size: 20px;
  }
  .movice-serics .hero-section{
    height: 400px;
  }
}


/*for mobile device*/
@media only screen and (max-width: 413px){
	.hero img{
		width: 250px;
		margin: 30px 0;
	}
	.hero p{
		width: 90% !important;
		text-align: justify;
	}
  .movie-details .bg-banar{
    height: 50vh;
  }
  .movie-details .details-title{
    width: 100%;
  }
  .movie-details .video-title{
    font-size: 24px;
  }
  .info-card .info-title{
    font-size: 16px;
  }
  .movie-details .info-card p{
    font-size: 13px;
  }
  .cast-carousel .owl-nav{
    position: absolute;
    top: -60%;
    right: -8px;
  }
  .movice-serics .hero-section{
    height: 600px;
    align-items: end;
    padding-bottom: 50px;
  }
}
